:root {
  --color1: #708ed2;
  --color2: #272532;
  --color3: #ebe5e2;
  --color4: #83cfdf;
  --color5: #13688c;
  --color6: #373b69;
  --color7: #031634;
  --color8: #033649;
  --color9: #036564;
  --color10: #031C3A;
  --color11: #62666F;

}

html,
body {
  height: 100%;
}

body {
  background: var(--color7) !important;
}

.book-card {
  padding: 10px;
}
.book-description {
  background: var(--color8);
  border-radius: 0 0 0.5rem 0.5rem;
}
.book-title {
  color: var(--color3);
  padding: 0.5rem;
  font-size: 1rem;
}
.book-vote {
  background: var(--color2);
  color: orange;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.book-img {
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  /*max-height: 100% !important;*/
}